.wrapper {
  display: flex;
  background-color: rgba(black, 0.3);
  min-height: calc(100vh - 3rem);
}

.accountWrapper {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex: 0 1 calc(50% - 4rem);
  margin: 2rem;
  border: 0.15rem solid #ffd700;
  border-radius: 0.3rem;
  padding: 1rem;
  box-shadow: 0.1rem 0.2rem 1rem black;
  background-color: white;

  & > h1 {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    padding-bottom: 1rem;
    text-align: center;
    border-bottom: 0.1rem solid #ffd700;
  }
}

.lineWrapper {
  display: flex;
  align-items: center;
  margin: 0.3rem 0;

  & > label {
    flex: 1 0 40%;
    font-size: 1.2rem;

    &:first-of-type {
      font-weight: 700;
      font-style: italic;
    }
  }
}

.test {
  & > div {
    display: flex;
  }
}

.input {
  font-weight: 500;
  font-size: 1.2rem;
  border: 0.15rem solid #ffd700;
  padding: 0.5rem;
  border-radius: 0.3rem;
  outline: 0;
}

.inputHidden {
  border-color: white;
  pointer-events: none;
}

.buttonWrapper {
  justify-content: space-around;
  margin-top: 1.5rem;
}

.button {
  background-color: transparent;
  border-width: 0.13rem;
  border-style: solid;
  font-size: 1.2rem;
  box-shadow: 0.1rem 0.1rem 0.3rem black;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 0.3rem;
}

.saveButton {
  background-color: green;
  border-color: green;
  color: white;

  &:hover {
    background-color: rgba(green, 0.2);
    color: green;
  }
}

.cancelButton {
  background-color: red;
  border-color: red;
  color: white;

  &:hover {
    color: red;
    background-color: rgba(red, 0.2);
  }
}

.editButton {
  background-color: #ffd700;
  border-color: black;

  &:hover {
    background-color: black;
    border-color: #ffd700;
    color: #ffd700;
  }
}

.errorMessage {
  margin-top: 0.5rem;
  text-align: left;
  color: red;
  font-weight: 700;
}

.fieldWrapper {
  flex-direction: column;
}

.inputWrapper {
  display: flex;
  flex: 1 0 57% !important;
}
