.wrapper {
  height: calc(100vh - 3rem);
  overflow-y: auto;
  background: linear-gradient(180deg, rgba(pink, .8), white 30%);
  background-repeat: no-repeat;
  background-attachment: fixed;

  &::-webkit-scrollbar {
    display: none;
  }
}

.section {
  display: flex;
  padding: 2rem;
  justify-content: space-around;

  & > label {
    flex: 0 1 35%;
    border: 0.1rem solid pink;
    border-radius: 0.3rem;
    padding: 1rem;
    box-shadow: 0.1rem 0rem 0.3rem 0.1rem pink;
    background-color: white;
  }
}

.image {
  width: 20rem;
  height: 25rem;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 0.7rem 0.1rem rgba(black, 0.5);
}
