.wrapper {
  height: calc(100vh - 3rem);
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.section {
  display: flex;
  padding: 2rem 0;
  margin: 0 2rem;
  border-bottom: 0.1rem solid pink;
  justify-content: space-around;

  & > label {
    flex: 0 1 35%;
    border: 0.1rem solid pink;
    border-radius: 0.3rem;
    padding: 1rem;
    box-shadow: 0.1rem 0rem 0.3rem 0.1rem pink;
  }

  &:nth-of-type(2n) img {
    background-color: red;
  }
}

.image {
  width: 20rem;
  height: 25rem;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 0.7rem 0.1rem black;
}
