.loginIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  border-radius: 0.3rem;
  border: 0.15rem solid black;

  &:hover {
    border-color: pink;
  }

  & > label {
    color: pink;
    font-weight: 700;
    margin-left: 1rem;
    cursor: pointer;
  }

  & > svg {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;

    & > path {
      fill: pink;
    }
  }
}

.fieldWrapper {
  display: flex;
  flex-direction: column;

  & > label:first-of-type {
    font-weight: 500;
    text-align: left;
    font-size: 1.2rem;
    margin: 0.5rem 0 1rem;
  }
}

.errorLoginWrapper {
  background-color: rgba(red, 0.2);
  border: 0.1rem solid red;

  & > h1 {
    border-color: red !important;
  }
}

.loginInput {
  border: 0.15rem solid pink;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  outline: 0;

  &:hover,
  &:active,
  &:focus {
    border-color: pink;
  }
}

.wrongCredentials {
  color: red;
  font-weight: 700;
}

.loginErrorInput {
  border-color: red;
  background-color: rgba(red, 0.1);
}

.loginWrapper {
  position: relative;
  padding: 0 1rem;
  margin: 1rem 0;
  border-radius: 0.3rem;

  h1 {
    border-bottom: 0.1rem solid pink;
    padding-bottom: 0.5rem;
  }
}

.loginButton {
  background-color: pink;
  outline: 0;
  border: 0;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  width: 45%;
  border-radius: 0.3rem;
  margin: 1rem 0;
  background-clip: border-box;
  border: 0.15rem solid pink;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: black;
    color: pink;
  }
}

.errorMessage {
  margin-top: 0.5rem;
  text-align: left;
  color: red;
  font-weight: 700;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
}

.closeButton {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  outline: 0;
  border: 0;
  font-size: 1.4rem;
  border-radius: 0.1rem;

  &:focus {
    outline: 0;
    border: 0;
  }

  &:hover {
    background-color: #dddddd;
  }
}

.logoutIcon {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  cursor: pointer;
  color: pink;
  padding: .3rem;

  &:hover {
    color: black;
    background-color: pink;
  }
}
